<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(products.length> 0) { %>
                    <ul class="cart__item-list">
                        <% products.forEach(p=> {%>
                            <% switch(views) { case 'ejs' : %>
                                <li class="cart__item">
                                    <h1>
                                        <%= p.productData.title%>
                                    </h1>
                                    <h2>
                                        Quantity: <%= p.qty %>
                                    </h2>
                                    <form action="/cart-delete-item" method="POST">
                                        <button type="submit" class='btn'>Delete</button>
                                        <input type="hidden" name="productId" value="<%= p.productData.id %>" />
                                        <!-- <input type="hidden" name="productPrice" value="<%= p.price %>" /> -->
                                    </form>
                                </li>
                                <% break; case 'ejsWithDb' :%>
                                    <li class="cart__item">
                                        <h1>
                                            <%= p.title%>
                                        </h1>
                                        <h2>
                                            Quantity: <%= p.qty %>
                                        </h2>
                                        <form action="/cart-delete-item" method="POST">
                                            <button type="submit" class='btn danger'>Delete</button>
                                            <input type="hidden" name="productId" value="<%= p._id %>" />
                                            <!-- <input type="hidden" name="productPrice" value="<%= p.price %>" /> -->
                                        </form>
                                    </li>
                                    <% break; }%>
                                        <% }) %>
                    </ul>
                    <hr>
                    <div class="centered">
                        <form action="/create-order" method="POST">
                            <button type="submit" class="btn">Order Now!</button>
                        </form>
                    </div>
                    <% } else { %>
                        <h1>No Products in Cart...</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>